<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
  </head>

  <body>
    <% if current_user %>
      <h1>Welcome <%= current_user.name %></h1><a href="/sign-out">Sign out</a>
    <% end %>
    <!-- <% if !current_user %>
      <a href="/sign-in">Sign in</a>
    <% end %> -->
    <%= yield %>
  </body>
</html>
